.create-button{
    background-color: #7AC143;
    border-color: #7AC143;
}

.create-button:hover{
    background-color: #7AC143;
    border-color: #7AC143;
}

.modal-header{
    background-color: #7AC143;
    color: #fff;
}

.toast-position-foo{
    top: 15px;
    left:85%;
    margin:0 0 0 -150px;
}