<h1>Report Attendance By Day</h1>

<div class="container-content">
<div class="d-flex justify-content-between bd-highlight mb-6">
  <div class="d-flex justify-content-start ">
     <%= form_tag(reports_attendance_by_day_path, method: "post", remote: true, authenticity_token: true, role: "form",class: "form-row") do %>
      <%= text_field_tag 'first_date', "Select Date One", class: 'flatpickr datepicker form-control' %>    
      <%= submit_tag "Search", :class => 'btn btn-primary create-button' %>
     <% end %>
  </div>
  
</div>
<table class="table">
  <thead>
    <tr>
      <th>Date attendance</th>
      <th>Employee</th>
      <th>Detail</th>
    </tr>
  </thead>

    <tbody id="attendance_by_day">
    <%= render 'search', remote: true %>
  </tbody>
</table>

</div>

<script>
flatpickr(".datepicker", {})
</script>